h1{
    text-align:center;
    font: 2em "Roboto", sans-serif;
    text-transform:uppercase;
    padding: 20px 10px 20px 10px;
}

body{
    background-color: rgb(15, 15, 15);
    color:white;
    font-size:1em;
}

section{
    display:flex;
    margin:2em 0em 2em 0em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius:20px;
}

img{
    transition:all 0.5s ease-in;
}

img:hover{
    transform: scale(1.3) rotate(1turn);
}

.component{
    padding: 2em 5em;
    text-align:center;
}

h2{
    font: 2em "Saira Condensed", sans-serif;
    text-transform:uppercase;
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color:white;
    
}

h3{
    font-size:1.2em;
    font-style:italic;
    transition: all 1s linear;

}

h3:hover{
    transform:scale(1.2);
}

p{
    line-height: 150%;
}


.checked, .fa-star-half-empty{
    color:orange;
}

.collegedropout{
    background-color: rgb(97, 12, 12);
}

.lateregistration{
    background-color: black;
}

.graduation{
    background-color: rgb(87, 2, 87);
}

.heartbreak,.yeezus{
    background-color: silver;
    color:black;
}

.mbdtf{
    background-color: rgb(129, 2, 2);
}

.tlop{
    background-color: rgba(238, 129, 5, 0.788);
}

.ye{
    background-color: rgba(172, 255, 47, 0.534);
}

.jik{
    background-color: rgba(0, 0, 255, 0.308);
}

.donda{
    background-color: black;
}

.donda img{
    height:300px;
    width:300px;
}